@import "./fonts.css";

/* Variables */

:root {

    /* Fonts */
    --heading-font: "Playfair Display";
    --par-font: "Lato";

    /* Colours */
    --dark-grey: #1E1D1E;
    --dark-blue: #0D3C56;
    --light-blue: #6894B1;
    --off-white: #F9F7F8;
    --light-grey: rgba(165, 165, 165, 1)
}

/* ----------------------------- */

/* General */

body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-size: 16px;
    font-family: var(--par-font);
    color: var(--dark-grey);
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--heading-font);
}

/* Navbar  */

nav {
    align-items: center;
    padding: 0.5rem 0;
    background-color: white;
    transition: top 0.5s;
    -webkit-transition: top 0.5s;
    -moz-transition: top 0.5s;
    -ms-transition: top 0.5s;
    -o-transition: top 0.5s;
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-link {
    color: var(--dark-grey);
    font-weight: 400;
    margin: 0 2rem;
    font-size: 1.2rem;
    text-decoration: none;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}

.nav-link:hover {
    color: var(--dark-blue);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

nav img {
    width: 3.5rem;
    margin: 0 1rem;
}

.mobile-nav-icon {
    position: absolute;
    right: 0.5rem;
    font-size: 1.3rem;
    display: none;
    cursor: pointer;
    transition: 0.5s;;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.mobile-nav-icon i {
    padding: 1rem;
}

.mobile-nav-icon:hover {
    color: var(--light-blue);
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

/* Section Headings */

.section-heading {
    text-align: center;
    display: block;
    padding: 5% 10% 3% 10%;
}

.section-heading h1 {
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 2rem;
    margin: 0 auto;
    font-size: 2.5rem;
}

.section-heading p {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.5;
}

.section-heading>.page-start-text {
    font-weight: 400;
    font-size: 1.2rem;
}

/* more button */

.more-button {
    background-color: var(--dark-blue);
    margin: 0 auto;
    padding: 0.4rem 1.2rem;
    transition: 0.8s;
    cursor: pointer;
    margin-top: 1rem;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    display: inline-block;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;

}

.more-button:hover {
    background-color: var(--light-blue);
    padding: 0.4rem 2rem;
}

.more-button i {
    margin-left: 3px;
}

.more-button a {
    text-decoration: none;
    color: var(--off-white) !important;
    font-weight: 300;
}


/* Horisontal Info */

.horisontal-info {
    background-size: cover;
    height: 30vh;
    display: flex;
}

.horisontal-info h2 {
    font-weight: 550;
    color: var(--dark-blue);
    font-size: 1.8rem;
}

.horisontal-info>div {
    background-color: rgb(249, 247, 248, 0.85);
    width: 45%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2.5%;
}


.left-info>div {
    text-align: left;
    padding-right: 7.5%;
    font-size: 1.1rem;
    height: 100%;
    -webkit-clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
}

.left-info p {
    border-left: 3px solid var(--light-blue);
    padding: 0 1rem;
    margin: 1rem 0 0 1rem;
}

.right-info {
    justify-content: flex-end;
}

.right-info>div {
    padding-left: 7.5%;
    text-align: right;
    font-size: 1.1rem;
    height: 100%;
    -webkit-clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.right-info p {
    border-right: 3px solid var(--light-blue);
    padding: 0 1rem;
    margin: 1rem 1rem 0 0;
}


/* Page Intro */

.section-page-intro {
    background-position: center center;
    background-size: cover;
    height: 50vh;
    display: flex;
}

.section-page-intro>div {
    background-color: rgb(249, 247, 248, 0.85);
    width: 45%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 2.5%;
}

.section-page-intro>div>h1 {
    font-weight: 600;
    color: var(--dark-blue);
    letter-spacing: 1px;
    margin: 5%;
    font-size: 3rem;
    padding: 0.5rem 0;
}

.page-intro-right {
    justify-content: flex-end;
}

.page-intro-right>div {
    text-align: right;
    -webkit-clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(30% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.page-intro-left>div {
    -webkit-clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 70% 0%, 100% 100%, 0% 100%);
}

.page-intro-right h1 {
    border-right: 3px solid var(--light-blue);
    padding-right: 1.5rem !important;
}

.page-intro-left h1 {
    border-left: 3px solid var(--light-blue);
    padding-left: 1.5rem !important;
}


/* Scrollbars */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--light-blue);
    transition: 0.4s;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--dark-blue);
}


/* footer */

footer {
    text-align: center;

    margin-top: 1rem;
}

footer>div {
    width: 90%;
    height: 3px;
    background-color: var(--light-blue);
    margin: auto;
}

footer>img {
    width: 5%;
    padding: 1rem 0;
}

footer h1 {
    font-size: 1.5rem;
    font-family: "Angie";
    color: var(--dark-blue);

}

footer p {
    font-weight: 300;
    font-size: 0.8rem;
    margin: 0;
    padding: 5px 0;
}

footer a {
    color: var(--light-blue);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

footer a:hover {
    color: var(--dark-blue);
    font-weight: 400;
}




/* ----------------------------- */

/* Home Page */

/* Landing-section */

.section-landing {
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-image: url("../images/random/home.jpg");
    background-attachment: fixed;
}


/* About Section */

.section-about-info {
    text-align: center;
    padding: 7.5% 10%;
}

.section-about h1 {
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--dark-blue);
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 2rem;
    margin: 0 auto;
    font-size: 2.5rem;
}

.section-about p {
    font-size: 1.1rem;
    padding: 0 5%;
    line-height: 1.6;
}

/* Horisontal Info */

.section-about .horisontal-info {
    background-image: url("../images/horisontal-infos/experienced.jpg");
    background-position: center center;
}

/* Product Section */

.section-products {
    background-color: var(--off-white);
}

.product-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    padding: 0 5%;
    padding-bottom: 3%;
}

.product {
    background-color: white;
    width: 70%;
    /* height: 30vh; */
    padding: 3%;
    margin: 0 auto;
    box-shadow: 10px 10px 15px rgba(165, 165, 165, 0.3);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;

}

.product-image {
    background-position: center center;
    background-size: cover;
    height: 100%;
    height: 25vh;
}

.product-info {
    -webkit-clip-path: polygon(0 0, 50% 0%, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 50% 0%, 100% 100%, 0% 100%);
    background-color: rgb(249, 247, 248, 0.85);
    width: 60%;
    height: 100%;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 5% 0 2.5%;
}

.product-info h3 {
    font-weight: 400;
    font-size: 1.5rem;
    margin: 1rem 0;
    font-family: "Lato";
}

#product-meat .product-image {
    background-position: top center !important;
    background-image: url("../images/products/meat.jpg");
}

#product-grain .product-image {
    background-image: url("../images/products/grain.jpg");
}

#product-fibre .product-image {
    background-image: url("../images/products/fibre.jpg");
}

#product-train .product-image {
    background-position: top center !important;
    background-image: url("../images/products/train.jpg");
}

.section-products .button-row {
    display: flex;
}

/* Horisontal Info */

.section-products .horisontal-info {
    background-image: url("../images/horisontal-infos/innovative.jpg");
    background-position: center center;
    margin-top: 7.5%;
}

/* Contact Section */



.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3% 10% 7.5% 10%;
}

.contact-info {
    border-left: 3px solid var(--light-blue);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5% 0 5% 5%;
}

.contact-info h4 {
    color: var(--dark-blue);
    font-size: 1.8rem;
    margin: 0;
    margin-bottom: 2rem;
    font-weight: 600;;
}

.contact-info a {
    color: var(--dark-grey);
    text-decoration: none;
    font-weight: 400;
    font-size: 1.05rem;
    padding: 1rem 0;
    transition: 0.7s;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
}

.contact-info a:hover i {
    padding-right: 10px;
}

.contact-info a:hover {
    font-weight: 600;
}

.contact-info i {
    color: var(--dark-blue);
    margin-right: 10px;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s
}

.contact-info .message-button a {
    background-color: var(--dark-blue);
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 0.6rem 4rem;
    color: white !important;
    display: inline-block;
    margin-top: 1rem;
    transition: 0.7s;
    font-weight: 400 !important;
    -webkit-transition: 0.7s;
    -moz-transition: 0.7s;
    -ms-transition: 0.7s;
    -o-transition: 0.7s;
    cursor: pointer;
}

.contact-info .message-button a:hover {
    background-color: var(--light-blue);
    color: white !important;
}


.contact-info .message-button i {
    color: white;
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
}

.contact-map {
    position: relative;
}

.contact-map .map-back {
    background-color: var(--light-blue);
    width: 100%;
    height: 100%;
}

.contact-map iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 10%;
    left: 10%;
    box-shadow: 10px 10px 15px rgba(165, 165, 165, 0.3);
}

.horisontal-info {
    background-image: url("../images/horisontal-infos/passionate.jpg");
    background-position: center center;
    margin-top: 5%;
}




/* ----------------------------------- */

/* Products Page*/

.products-page .section-products {
    padding-bottom: 5%;
}

.products-page .section-page-intro {
    background-image: url("../images/page-intros/products.jpg");
}

.products-page .product {
    padding-bottom: 2%;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;
}


.product:hover {
    transform: scale(1.025);
    -webkit-transform: scale(1.025);
    -moz-transform: scale(1.025);
    -ms-transform: scale(1.025);
    -o-transform: scale(1.025);
}

.product-line {
    width: 50%;
    height: 3px;
    background-color: var(--light-blue);
    margin: 1rem auto;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.product-description {
    text-align: center;
    margin: 0;
}

/* ----------------------------------- */

/* About Page */

.about-page .section-page-intro {
    background-image: url("../images/page-intros/about.jpg");
}

/* About Info */
.section-about-page-info .horisontal-info {
    background-image: url("../images/horisontal-infos/growing.jpg");
}

.about-values {
    padding: 3% 10%;
}

.about-values h1 {
    color: var(--dark-blue);
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
}

.about-values p {
    font-size: 1.2rem;

    font-weight: 300;
}

.about-vision p {
    border-left: var(--light-blue) 3px solid;
    padding-left: 1rem;
}

.about-vision {
    margin-bottom: 3rem;
}

.about-mission {
    text-align: right;
}

.about-mission p {
    border-right: var(--light-blue) 3px solid;
    padding-right: 1rem;
}

/* Team Section */

.section-about-team {
    background-color: var(--off-white);
}

.team-grid {
    padding: 5% 7.5%;
}

.team-member {
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
    row-gap: 1rem;
    background-color: white;
    padding: 2%;
    box-shadow: 10px 10px 15px rgba(165, 165, 165, 0.15);
    margin-bottom: 3rem;
    transition: 0.8s ease;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;
}

.team-member:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.team-member-image {
    width: 100%;
    height: 100%;
    background-position: top center;
    background-size: cover;
    grid-row: 1/3;
}

.team-member h5,
.team-member h6 {
    font-family: "Lato";
    font-weight: 400;
    margin: 0;
    margin-bottom: 0.5rem;
}

.team-member h5 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 0.5rem;
}

.team-member h6 {
    font-size: 1rem;
}

.team-member h5 span {
    color: var(--dark-blue);
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.team-details-text {
    border-left: 3px solid var(--light-blue);
    padding-left: 1rem;
}

.team-member-title-extra {
    font-weight: 300;
    font-style: italic;
    margin: 0;
}

.team-member-info>p {
    font-weight: 300;
    margin-bottom: 0;
    line-height: 1.5rem;
    margin: 0;
}


.team-grid #palesa .team-member-image {
    background-image: url("../images/team/Palesa.jpg");
}

.team-grid #henry .team-member-image {
    background-image: url("../images/team/Henry.jpg");
}

.team-grid #angus .team-member-image {
    background-image: url("../images/team/Angus.jpg");
}




/* ------------------------------------- */

/* Contact Page */

.contact-page .section-page-intro {
    background-image: url("../images/page-intros/contact.jpg");
}

.section-contact-page-details .contact-grid {
    padding: 10%;
}

.section-contact-page-details .horisontal-info {
    background-image: url("../images/horisontal-infos/sustainable.jpg");
}

.contact-form-grid {
    padding: 2% 15%;
    font-family: "Lato";
}

.contact-form-grid form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
}

.contact-form-grid form>div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

form input,
form textarea {
    border: none;
    border-bottom: 1px solid var(--light-blue);
    outline: none;
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: var(--dark-grey);
    font-family: "Lato";
    margin-top: 1rem;
}

form textarea {
    height: 100%;
    resize: none;
}

form input::placeholder,
form textarea::placeholder {
    font-weight: 300;
}

form input:focus,
form textarea:focus {
    border-bottom: 3px solid var(--dark-blue);
    color: var(--dark-blue);
}

.contact-form-grid form button {
    grid-column: 1/3;
    margin: 0 auto;
    margin-top: 3rem;
    background-color: var(--dark-blue);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    font-size: 0.9rem;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    padding: 0.6rem 4rem;
    color: white !important;
    cursor: pointer;
}

.contact-form-grid form button:hover {
    background-color: var(--light-blue);
}

.contact-form-grid form button i {
    margin-right: 0.5rem;
}