@media screen and (min-width:1600px) {
    body,
    html {
        font-size: 18px;
    }
    
}

@media screen and (max-width:1600px) {

    .horisontal-info {
        background-size: cover;
        height: 40vh;
    }

}


